<div style="text-align:center">
  <div class="header">
      <a href="/">
        <h1>
          Headless E-Commerce Demo
        </h1>
        <h3>
          with Angular, Sanity and Snipcart
        </h3>
      </a>
      
      <a href="#" class="snipcart-checkout checkout">
          <div class="snipcart-summary">
              <h2>Checkout (<span class="snipcart-total-price">0</span>)</h2>
          </div>
      </a>
  </div>
  
  <router-outlet></router-outlet>

  <div class="footer">
    <a href="https://snipcart.com/blog/headless-angular-ecommerce-app">Read full tutorial.</a>
  </div>
</div>
